:root {
  --bg-dropdown: rgb(255, 255, 255);
  --bg-dropdown-menu: rgb(200, 200, 200);
}

.dropdown {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-dropdown);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.dropdown__button {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
  --rp-color: rgba(0, 0, 0, 0.2);
  --rp-transition: 200;
}

.dropdown__menu {
  position: absolute;
  display: none;
  right: 0;
  width: 250px;
  height: max-content;
  background-color: var(--bg-dropdown-menu);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  padding: 20px;
}