.wk-input-text {
  // --brd-radius: 1em;
  // --brd-color: rgba(var(--text-color), 0.2);
  // --brd-size: 1px;
  // --ph-color: rgb(var(--primary));
  // --txt-color: rgb(var(--text-color));
  // --select-color: rgb(var(--primary));
  // --select-color-text: rgb(255, 255, 255);
  // =================
  // RESET ELEMENT
  border: var(--brd-size) solid var(--brd-color);
  outline: none;
  user-select: all;
  -ms-user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
  border-radius: var(--brd-radius);
  padding: 0.7em;
  &::placeholder {
    color: var(--ph-color);
  }
  &::-moz-placeholder {
    color: var(--ph-color);
  }
  &::-webkit-input-placeholder {
    color: var(--ph-color);
  }
  &::-moz-selection {
    color: var(--select-color-text);
    background: var(--select-color);
  }

  &::selection {
    color: var(--select-color-text);
    background: var(--select-color);
  }
  // ALL SETTINGS
  &.text-left {
    text-align: left;
  }
  &.text-center {
    text-align: center;
  }
  &.text-right {
    text-align: right;
  }
}
