.wk-btn {
  // Variables
  // --brd-radius: 1em;
  // Default Styles
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  padding: 0.7em;
  border-radius: var(--brd-radius);
  position: relative;
  overflow: hidden;
  // If btn navbar
  &.navbar {
    width: 2.7em;
    height: 2.7em;
    padding: 0.3em;
  }
}
