* {
  margin: 0em;
  padding: 0em;
  user-select: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  & #app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// VARIABLES
$active-bg: rgb(155, 93, 229);
$active-circle: rgb(255, 255, 255);
$unactive-bg: rgb(150, 150, 150);
$unactive-circle: rgb(200, 200, 200);
// SWITCH
.switch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  background-color: $unactive-bg;
  width: 46px;
  height: 26px;
  border-radius: 1em;
  &__input {
    visibility: hidden;
    &:checked + .switch__slider {
      background-color: $active-bg;
      &::before {
          background-color: $active-circle;
          height: 22px;
          width: 22px;
          left: 21px;
          margin: 0px;
        }
    }
    &:disabled + .switch___slider {
      cursor: not-allowed;
    }
  }
  &__slider {
    display: flex;
    align-items: center;
    position: absolute;
    cursor: pointer;
    background-color: $unactive-bg;
    width: 100%;
    height: 100%;
    border-radius: 1em;
    transition: background-color 0.1s linear, border-color 0.1s linear;
    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 3px;
      display: flex;
      align-items: center;
      background-color: $unactive-circle;
      border-radius: 1em;
      transition: left 175ms linear, background-color 0.1s linear,
        height 50ms linear, width 50ms linear, margin 50ms linear;
    }
  }
}